.product_table img{
    height: 4rem;
    width: 4rem;
}

table{
    border: 1px double;
    margin-top: 20px;
    width: fit-content;
    border-spacing: 10px;
}

th{
    border: 1px double;
    padding: 7px;
    width: fit-content;
}

td{
    border: 1px double;
    margin: 7px;
    width: fit-content;
    padding: 7px;
}

.leave{
    padding: 5px;
}

.back-home{
    border: 1px double;
    border-radius: 5px;
    margin: 7px;
    text-decoration: none;
}

.view-p{
    border: 1px double;
    border-radius: 5px;
    margin: 7px;
    text-decoration: none;
}

.message{
    width: fit-content;
    border: 1px double;
    border-radius: 5px;
    margin: 7px;
    margin-left: 15rem;
}

form{
    border: 1px solid;
    border-radius: 5px;
    width: fit-content;
}

.signup{
    justify-content: center;
    display: flex;
}

.error{
    color: rgb(212, 47, 47);
}